.tasks__item__toggle {
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 0.85em 2.25em 0.85em 1em;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.tasks__item {
  display: flex;
  align-items: top;
}

.tasks__item__toggle:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.15);
}

.tasks__item__toggle--completed {
  text-decoration: line-through;
  background-color: rgba(0, 128, 0, 0.15);
  border-color: rgba(0, 128, 0, 0.2);
}

.tasks__item__toggle {
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 0.85em 2.25em 0.85em 1em;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

side-buttons > button.tasks__item__remove {
  top: 50%;
  right: 0;
  height: 100%;
  font-size: 100%;
  margin: 0;
}

#side-buttons > button {
  padding: 12px 14px;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

#title-span {
  margin-bottom: 8px;
}

.description {
  color: #555555;
  display: none;
}

#side-buttons {
  display: flex;
  flex-direction: column;
}

button#expand-button {
  background-color: palegoldenrod;
  border: none;
}

#expand-button:hover {
  background-color: rgb(223, 218, 159);
}